// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#ms_delete-btn {
    display: flex;
    justify-content: flex-end;
}

.ms_bold {
    font-weight: bold;
}